# physical parameters
This tutorial shows you have to determine physical parameters (mass, radius, etc) for stellar and brown dwarfs stars from evolutionary models. In particular, we will use the Baraffe et al., (2015) and MIST MESA models as well as the Herczeg & Hillenbrand (2014) and Pecaut (2014) spectral type to temperature conversion to compute parameters based on the spectral type and ages of the objects. 

You should run CASPAR_astrometry before computing the physical parameters.  Additionally, either a spectral type (+ err), mass (+ error) or temperature (+ error) MUST be known a priori in order to proceed.  

## Initialize casparing

Import the required modules

In [1]:
import pandas as pd
import numpy as np

from casparing.derive.CASPAR_rederiveparameters import get_physical_params
from casparing.derive.CASPAR_data import add_physparams_objects, save_df
%load_ext autoreload
%autoreload 2

PyMultiNest not imported.  MultiNest fits will not work.

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

# Load Data
First, load in the dataframe created and saved in the astrometry_tutorial notebook, which gives the association ages and objects.

In [2]:
astrometry_df = pd.read_csv('/Users/sarah/Desktop/astrometry_table.csv')
astrometry_df

,Simbad-Resolvable Name,Reference Name,RA (J2000.0),Dec (J2000.0),RA (J2016.0),Dec (J2016.0),Association,Association Probability Banyan Sigma,Association Census Reference,Association Age,...,GAIA EDR3 Dec proper motion err,radial velocity,radial velocity err,Jmag,Jmag err,Hmag,Hmag err,Kmag,Kmag err,Links
0,2MASS J04335200+2250301,CI Tau,68.466727,22.841693,68.466770,22.841617,Taurus/L1546,0.471641,Gange2018,2.01,...,0.019875,NaN,NaN,9.480,0.020,8.43,0.040,7.793,0.020,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...
1,2MASS J05355845+2444542,CQ Tau,83.993611,24.748359,83.993626,24.748242,FIELD,NaN,,NaN,...,0.042136,31.404154,5.353594,7.926,0.023,7.06,0.024,6.173,0.018,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...

# Add initial information
Now, add the initial information needed to extract stellar information. You must provide: age (+ error) and either: spectral type (+ error), mass (+ error) or temperature (+ error).  There are several ways to provide these values.

1. import path to dataframe or `pd.DataFrame` where these columns already exist:
   - `Age`, `Age err`,
   -  either:
        +  `Sp Type`, `Sp Type err`,
        +  `Mass`, `Mass err`,
        +  `Teff`, `Teff err`.
 Other columns can also be included, but those four must exist. If you provide a path, it must contain a header rows and can be in '.csv' (preferred), '.txt', or '.dat' format. 
>`
> add_physparams_objects(astrometry_df) 
>`

or 

>`
> add_physparams_objects('/path/to/dataframe.csv')  
>`

2. import either a path to the data or `pd.DataFrame` where the above columns do NOT exist.  In this case, you must provide either values or lists of values the above columns for each row in dataframe.
   
>`
>add_physparams_objects(astrometry_df, age=[2.01, 2], age_err=[0.32, 0.3], value_id='sptype', value=['K4', 'F5'], value_err=[0.5, 0.5]) 
>`

3. Provide lists of objects and all above values.
   
>`
>add_physparams_objects(['CI Tau', 'CQ Tau'], age=[2.01, 2], age_err=[0.32, 0.3], value_id='sptype', value=['K4', 'F5'], value_err=[0.5, 0.5]) 
>`

In [3]:
tmp_df = add_physparams_objects(astrometry_df, age=[2.01, 2], age_err=[0.32, 0.3], 
                              value_id='sptype', value=['K4', 'F5'], value_err=[0.5, 0.5]) 
tmp_df

DataFrame added.
All required columns not in dataframe.  checking if they are provided as variables.
Reference Name already in dataframe
Age added to dataframe
Age err added to dataframe
Sp Type added to dataframe
Sp Type err added to dataframe

,Simbad-Resolvable Name,Reference Name,RA (J2000.0),Dec (J2000.0),RA (J2016.0),Dec (J2016.0),Association,Association Probability Banyan Sigma,Association Census Reference,Association Age,...,Jmag err,Hmag,Hmag err,Kmag,Kmag err,Links,Age,Age err,Sp Type,Sp Type err
0,2MASS J04335200+2250301,CI Tau,68.466727,22.841693,68.466770,22.841617,Taurus/L1546,0.471641,Gange2018,2.01,...,0.020,8.43,0.040,7.793,0.020,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...,2.01,0.32,K4,0.5
1,2MASS J05355845+2444542,CQ Tau,83.993611,24.748359,83.993626,24.748242,FIELD,NaN,,NaN,...,0.023,7.06,0.024,6.173,0.018,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...,2.00,0.30,F5,0.5

After these are added, they will appear as four columns at the end of the dataframe.  
Next, we can proceed with getting the physical parameters.

In [4]:
params = get_physical_params(df=tmp_df)

In [5]:
params.extractSptypeTempOrMass()

In [6]:
params.database

,Simbad-Resolvable Name,Reference Name,RA (J2000.0),Dec (J2000.0),RA (J2016.0),Dec (J2016.0),Association,Association Probability Banyan Sigma,Association Census Reference,Association Age,...,Hmag err,Kmag,Kmag err,Links,Age,Age err,Sp Type,Sp Type err,VAL,VAL ERR
0,2MASS J04335200+2250301,CI Tau,68.466727,22.841693,68.466770,22.841617,Taurus/L1546,0.471641,Gange2018,2.01,...,0.040,7.793,0.020,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...,2.01,0.32,K4,0.5,K4,0.5
1,2MASS J05355845+2444542,CQ Tau,83.993611,24.748359,83.993626,24.748242,FIELD,NaN,,NaN,...,0.024,6.173,0.018,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...,2.00,0.30,F5,0.5,F5,0.5

In [7]:
params.extractAge()

In [8]:
params.params()

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1), Label(value='0 / 1'))), HBox(câ€¦

In [9]:
params_df = params.database

In [10]:
cdat.save_df(params_df, '/Users/sbetti22/Desktop/parameters_table.csv')